version: '3.7'

x-app: &app
  build:
    context: .
    dockerfile: ./Dockerfile
    args:
      RUBY_VERSION: '2.6.5'
      BUNDLER_VERSION: '1.16.6'
      NODE_MAJOR: '10'
  image: pivorak-web-app:0.0.1
  tmpfs:
    - /tmp
  stdin_open: true
  tty: true
  volumes:
    - .:/app:cached
    - rails_cache:/app/tmp/cache
    - bundle:/bundle
  environment:
    - REDIS_URL=redis://redis:6379
    - DATABASE_URL=postgres://postgres:postgres@postgres:5432
  depends_on:
    - postgres
    - redis

services:
  runner:
    <<: *app
    command: /bin/bash

  rails:
    <<: *app
    command: bundle exec rails server -b 0.0.0.0
    ports:
      - '3000:3000'

  sidekiq:
    <<: *app
    command: bundle exec sidekiq -C config/sidekiq.yml

  postgres:
    image: postgres:11.0
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432

  redis:
    image: redis:3.2-alpine
    volumes:
      - redis:/data
    ports:
      - 6379

volumes:
  rails_cache:
  bundle:
  redis:
  postgres:
