- onclick ||= ''
- hidden_class ||= ''
- type ||= ''
button class="#{js_class} #{hidden_class} ui primary submit button pk-btn pk-btn--medium" type="#{type}"
  = t('pages.donate.submit_btn', locale: locale)
