html, body {
  font-size: $main-font-size;
  font-family: $main-font-family;
}

body {
  background-color: $body-bg-color;
  font-weight: $main-font-weight;
  line-height: $main-line-height;
  color: $main-color;
  position: relative;
  &:after {
    content: "";
    background: transparent image-url("paper-imit-bg.png") center center no-repeat;
    background-size: cover;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

a {
  color: $main-color;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

h1, .h1 {
  font-size: $font-size-h1;
  letter-spacing: $letter-spacing-h1;
  line-height: $line-height-h1;
}
h2, .h2 {
  font-size: $font-size-h2;
  letter-spacing: $letter-spacing-h2;
  line-height: $line-height-h2;
}
h3, .h3 {
  font-size: $font-size-h3;
  letter-spacing: $letter-spacing-h3;
  line-height: $line-height-h3;
}
h4, .h4 {
  font-family: $font-family-h4;
  font-weight: $font-weight-h4;
  font-size: $font-size-h4;
  letter-spacing: $letter-spacing-h4;
  line-height: $line-height-h4;
}

q {
  font-family: $quotes-font-family;
  font-size: $quotes-font-size;
  color: $quotes-color;
  line-height: 37px;
}

.translation_missing {
  background-color: red   !important;
  color:            white !important;
}
