html {
  box-sizing: border-box; // 1
  height: 100%;
}

html, body {
  font-size: 1rem;
  font-family: $main-font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  background-color: $body-bg-color;
  font-weight: $main-font-weight;
  line-height: $main-line-height;
  color: $main-color;
  position: relative;
  &:after {
    content: "";
    background: transparent image-url("paper-imit-bg.png") repeat center;
    background-size: 640px 640px;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .6;
  }
  &.pk-body--main-page {
    min-height: 900px;
  }

  &.pk-body--green-bg {
    background: #50B27E;
  }
}

main {
  font-size: $main-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit; // 1
}

@at-root {
  @-ms-viewport { width: device-width; }
}

a {
  color: $main-color;
}

p, h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

h1, .h1 {
  font-size: $font-size-h1;
  letter-spacing: $letter-spacing-h1;
  line-height: $line-height-h1;
}
h2, .h2 {
  font-size: $font-size-h2;
  letter-spacing: $letter-spacing-h2;
  line-height: $line-height-h2;
}
h3, .h3 {
  font-size: $font-size-h3;
  letter-spacing: $letter-spacing-h3;
  line-height: $line-height-h3;
}
h4, .h4 {
  font-family: $font-family-h4;
  font-weight: $font-weight-h4;
  font-size: $font-size-h4;
  letter-spacing: $letter-spacing-h4;
  line-height: $line-height-h4;
}

q {
  font-family: $quotes-font-family;
  font-size: $quotes-font-size;
  color: $quotes-color;
  line-height: 37px;
}

.translation_missing {
  background-color: red   !important;
  color:            white !important;
}

.main-header {
  font-size: 2.5rem;
  font-family: $main-font-family;
  font-weight: bold;
  color: #FCF7EF;
  letter-spacing: 0.15375em;
  text-transform: uppercase;
  margin: 32px 0 60px 0;
  text-align: center;
}

.pk-container {
  width: (960px + (30px * 2));
  padding: 0 30px;
  margin: 0 auto;
  @include breakpoint-max((960 + (30 * 2))) {
    width: 100%;
  }
}

.pk-default-text-font {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
