$namespace: ".pk-grid";

#{$namespace} {
  display: flex;
  height: 100%;
}

#{$namespace}__unit {
  flex: 1 1 auto;
  overflow: hidden;
}

#{$namespace}--center-v {
  align-items: center;
}

#{$namespace}-inline {
  display: inline-flex;
}

#{$namespace}--wrap {
  flex-wrap: wrap;
}