$namespace: ".pk-header";

// ! may need to be changed if there are more elements in menu
$header-menu-breakpoint: "1100";
$header-mobile-breakpoint: "420";

#{$namespace} {
  padding: 20px 32px;

  @include breakpoint-max($header-mobile-breakpoint) {
    padding: 20px 16px;
  }
}

#{$namespace}__logo {
  width: 46px;
  margin-right: 16px;
}

#{$namespace}__soc-icon {
  opacity: .54;
  transition: .2s opacity ease-out;
  margin: 4px 8px;
  a {
    display: block;
  }
  svg {
    display: block;
  }
  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

#{$namespace}__dropdown-icon {

  display: none;
  background-color: transparent;
  border: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;

  margin: 8px 0 0 16px;
  padding: 0;
  opacity: .87;

  &:hover, &:active, .open & {
    opacity: 1;
  }
  &:link, &:visited, &:hover, &:active, &:focus {
    outline: none;
  }

  #{$namespace}__hamb-el {
    width: 31px;
    height: 4px;
    background-color: $text-color;
    margin: 8px 0;
    z-index: -1;
  }

  @include breakpoint-max($header-menu-breakpoint) {
    display: inline-block;
  }

}

#{$namespace}__dropdown {
  position: relative;
  overflow: visible !important;
}

#{$namespace}__dropdown-list-wr {
  @include breakpoint-max($header-menu-breakpoint) {
    position: absolute;
    top: 100%;
    right: -32px;
    overflow: hidden;

    width: 0;

    .open & {
      width: auto;
    }
  }
  @include breakpoint-max($header-mobile-breakpoint){
    right: -16px;

    width: 0;

    .open & {
      width: auto;
    }
  }
}

#{$namespace}__dropdown-list.pk-list {
  margin: 0;
  @include breakpoint-max($header-menu-breakpoint) {
    position: relative;
    transform: translateX(100%);

    min-height: calc(900px - 87px);
    min-width: 240px;
    background-color: #D35130;
    z-index: 2;

    margin-top: 8px;
    padding: 16px 0;

    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    .pk-list__unit {
      width: 100%;
    }

    .pk-list__unit a {
      width: 100%;
      padding: 4px 8px 9px 24px;
      margin: 0 0 8px;
      color: rgba($link-color, .87);
    }

    input[type=submit], .btn {
      margin: 8px 0 0 16px;
    }

    #{$namespace}__li-list-wr  {
       > a {
         display: none;
       }
    }

    #{$namespace}__li-list {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      display: flex;

      #{$namespace}__li-list-item {
        > a {
          color: rgba($link-color, .87);
          background-color: transparent;
          margin: 0 0 8px;
          &:hover, &:active {
            color: $link-color;
            background-color: $tile-text-hover;
            z-index: 1;
          }
        }
      }

    }

    .open & {
      transform: translateX(0);
    }

  }

  @include breakpoint-max($header-mobile-breakpoint) {
    width: 100vw;
  }

  @include breakpoint-max($header-mobile-breakpoint) {
    margin-top: 16px;
  }

  .opening & {
    transition: transform .3s ease;
  }
}

#{$namespace}__li-list-wr {
  position: relative;
  z-index: 10;

  &:hover, &:active {
    #{$namespace}__li-list {
      display: flex;
    }

    > a {
      color: rgba($link-color, .87);
    }
  }

  > a:hover, a:active {
    color: rgba($link-color, .87) !important;
    background-color: transparent !important;
  }
}

#{$namespace}__li-list {
  position: absolute;
  left: 0;
  flex-direction: column;
  text-align: left;
  padding: 0 0 0 24px;
  list-style: none;
  display: none;
}

#{$namespace}__li-list-item {
  > a {
    @extend %btn-styles;
    position: relative;
    min-width: 154px;
    line-height: 1.3571428571em;
    color: rgba($body-bg-color, .87);
    background-color: $link-color;
    padding: 4px 8px 9px;
    margin: 8px 0 0;

    &:hover, &:active {
      color: $link-color;
      background-color: $tile-text-hover;
      z-index: 1;
    }
  }
}
