---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=&key=AIzaSyANAsFd4u6mdwX5iiv_dmES_kyoy8rtdtc&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/Rk41fm-2TD0VG1yv0-bkUvcBi9s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/Rk41fm-2TD0VG1yv0-bkUvcBi9s\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 0
         },
         "items": []
        }
  recorded_at: Fri, 19 May 2017 19:44:50 GMT
recorded_with: VCR 3.0.3
