$namespace: ".pk-event-date";

#{$namespace} {
  display: inline-block;
  vertical-align: middle;
  margin: 88px 0;
  font-size: 55px;
  text-align: center;
}

figure#{$namespace}__img {
  margin: 0 0 14px 0;
  img {
    margin: 0 auto;
    display: block;
    max-width: 111px;
  }
  figcaption {
    font-weight: bold;
    font-size: 0.32945455em;
    line-height: 1.37969095em;
    letter-spacing: 0.05022075em;
    text-align: center;
    margin-left: -10px;
  }
}
#{$namespace}__day {
  font-size: 1em;
  line-height: 1.21818182em;
  letter-spacing: 0.11109091em;
  text-transform: uppercase;
}
#{$namespace}__month {
  font-size: 0.9em;
  letter-spacing: 0.11111111em;
  line-height: 1;
  text-transform: uppercase;
}
#{$namespace}__date {
  font-size: 1.62727273em;
  letter-spacing: 0.05430168em;
  line-height: 1;
  font-weight: bold;
}
#{$namespace}__hour {
  font-size: 0.62727273em;
  letter-spacing: 0.11101449em;
  line-height: 1.2173913em;
}
