.pk-event-bg {
  background: transparent image-url("main-bg-image.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  min-height: 900px;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(211,80,48,0.80);
    background-image: linear-gradient(0deg, #D96A4D 0%, rgba(211,80,48,0.55) 21%);
  }
}
