$namespace: ".pk-slider";

#{$namespace} {
  margin-bottom: -220px;
  position: relative;
  overflow: hidden;
  &:before, &:after {
    z-index: 2;
    position: absolute;
    width: 162px;
    content: "";
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
  &:before {
    left: 0;
    background: transparent image-url("radial-mask-left.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  &:after {
    right: 0;
    background: transparent image-url("radial-mask-right.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
}

#{$namespace}__container {
  display: inline-block;
}

#{$namespace}__blend-image {
  background-blend-mode: luminosity;
}

$slider-height: (1078px + 60);

#{$namespace}__unit-container {
  width: 320px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  #{$namespace}__unit {
    padding-bottom: 180px;
  }
  &:nth-child(4n+1) {
    width: 440px;
    #{$namespace}__unit {
      width: 636px;
      height: $slider-height;
      position: relative;
      padding: 24px (188px + 56px) 24px (10px + 72px);
      #{$namespace}__blend-image {
        background-color: #57C8D1;
      }
      &:before {
        z-index: -1;
        pointer-events: none;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-style: solid;
        border-width: 0 188px $slider-height 10px;
        border-color: transparent transparent #57C8D1 transparent;
      }
    }
  }

  &:nth-child(4n+2) {
    width: 535px;
    #{$namespace}__unit {
      z-index: 2;
      width: 434px;
      height: ($slider-height - 30px);
      position: relative;
      padding: 24px 72px 24px 18px;
      margin: 15px 79px 0 99px;
      background-color: #F7B332;
      #{$namespace}__blend-image {
        background-color: #F7B332;
      }
      &:before {
        z-index: -1;
        pointer-events: none;
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-width: ($slider-height - 30px) 0 0 99px;
        border-color: #F7B332 transparent transparent transparent;
      }
      &:after {
        z-index: -1;
        pointer-events: none;
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-width: 0 79px $slider-height 0;
        border-color: transparent transparent #F7B332 transparent;
      }
    }
  }
  &:nth-child(4n+3) {
    width: (366px + 70);
    margin-right: -70px;
    #{$namespace}__unit {
      z-index: 3;
      width: 478px;
      height: $slider-height;
      position: relative;
      padding: 24px 72px;
      margin: 0 6px 0 0;
      background-color: #50B27E;
      #{$namespace}__blend-image {
        background-color: #50B27E;
      }
      &:after {
        z-index: -1;
        pointer-events: none;
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-width: $slider-height 6px 0 0;
        border-color: #50B27E transparent transparent transparent;
      }
    }
  }
  &:nth-child(4n+4) {
    width: 480px;
    #{$namespace}__unit {
      width: 441px;
      height: ($slider-height - 30px);
      position: relative;
      padding: 24px 72px;
      margin: 15px 34px 0 99px;
      background-color: #F7B332;
      #{$namespace}__blend-image {
        background-color: #F7B332;
      }
      &:before {
        z-index: -1;
        pointer-events: none;
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-width: ($slider-height - 30px) 0 0 99px;
        border-color: #F7B332 transparent transparent transparent;
      }
      &:after {
        z-index: -1;
        pointer-events: none;
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-width: $slider-height 34px 0 0;
        border-color: #F7B332 transparent transparent transparent;
      }
    }
  }
}

#{$namespace}__next,
#{$namespace}__prev {
  width: 113px;
  height: 226px;
  position: absolute;
  top: 50%;
  margin-top: -(113px / 2);
  display: block;
  cursor: pointer;
  opacity: 0.37;
  background: #000;
  transition: transform .2s ease-out;
  z-index: 3;
  // border: 4px solid #FFF4DA;
  &:hover {
    transform: translateX(0);
  }
  &:before {
    position: absolute;
    content: "";
    border: 4px solid #FFF4DA;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
  }
}

#{$namespace}__next {
  border-radius: 226px 0 0 226px;
  right: 0;
  &:before {
    border-width: 4px 4px 0 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  transform: translateX(64px);
}

#{$namespace}__prev {
  border-radius: 0 226px 226px 0;
  left: 0;
  &:before {
    border-width: 0 0 4px 4px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  transform: translateX(-64px);
}
