$namespace: ".pk-slider";
$slider-breakpoint: 960px;

#{$namespace} {
  position: relative;
  overflow: hidden;
  
  &:before,
  &:after {
    z-index: 2;
    position: absolute;
    width: 162px;
    content: "";
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
}

#{$namespace}__container {
  padding: 4rem 0;

  @media(min-width: $slider-breakpoint) {
    display: flex;
  }
}

#{$namespace}__blend-image {
  background-blend-mode: luminosity;
}

#{$namespace}__unit-container {
  flex: 1;
  position: relative;  
  min-height: 100%;
  padding: 4rem 0;

  &:after,
  &:before {
    content: '';
    height: calc(100vw / 3);
    min-height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transform: skewX(3deg);
  }

  &:before {
    transform-origin: left bottom;
  }

  &:after {
    transform-origin: left top;
  }
  
  #{$namespace}__unit {
    padding: 0 4rem;
    position: relative;
  }
  
  &:nth-child(4n+1) {
    @media(min-width: $slider-breakpoint) {
      top: -3rem;
      z-index: 1;
    }

    &:before,
    &:after,
    #{$namespace}__blend-image {
      background-color: #57C8D1;
    }

    #{$namespace}__unit {
      z-index: 2;
    }
  }

  &:nth-child(4n+2) {
    @media(min-width: $slider-breakpoint) {
      top: -1rem;
      margin-right: -4rem;
      z-index: 3;
    }

    &:before,
    &:after,
    #{$namespace}__blend-image {
      background-color: #F7B332;
    }

    #{$namespace}__unit {
      z-index: 4;
      
      @media(min-width: $slider-breakpoint) {
        margin-left: -2rem;
        padding-right: 8rem;
      }
    }
  }
  
  &:nth-child(4n+3) {
    background-color: #50B27E;

    @media(min-width: $slider-breakpoint) {
      top: -2rem;
      margin-right: -4rem;
      z-index: 5;
    }

    #{$namespace}__unit {
      z-index: 3;

      @media(min-width: $slider-breakpoint) {
        margin-left: -2rem;
        padding-right: 8rem;
      }
    }

    &:before,
    &:after {
      transform: skewX(-3deg);
    }

    &:before,
    &:after,
    #{$namespace}__blend-image {
      background-color: #50B27E;
    }
  }
  
  &:nth-child(4n+4) {
    background-color: #F7B332;
  }
}

#{$namespace}__next,
#{$namespace}__prev {
  width: 113px;
  height: 226px;
  position: absolute;
  top: 50%;
  margin-top: -(113px / 2);
  display: block;
  cursor: pointer;
  opacity: 0.37;
  background: #000;
  transition: transform .2s ease-out;
  z-index: 3;
  // border: 4px solid #FFF4DA;
  &:hover {
    transform: translateX(0);
  }
  &:before {
    position: absolute;
    content: "";
    border: 4px solid #FFF4DA;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
  }
}

#{$namespace}__next {
  border-radius: 226px 0 0 226px;
  right: 0;
  &:before {
    border-width: 4px 4px 0 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  transform: translateX(64px);
}

#{$namespace}__prev {
  border-radius: 0 226px 226px 0;
  left: 0;
  &:before {
    border-width: 0 0 4px 4px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  transform: translateX(-64px);
}
