$namespace: ".pk-status";

#{$namespace}-container {
  position: relative;
  padding: 60px 0 72px 0;
}

#{$namespace} {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 24px;
  font-size: 14px;
  color: #FCF7EF;
  background-color: #57C8D1;
  border: 4px solid rgba(#FCF7EF,.87);
  padding: 20px 38px;
  &:empty {
    display: none;
  }
}
