.pk-event-bg {
  background: transparent image-url("main-bg-image.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  min-height: 900px;
}
