$namespace: ".pk-main-speakers";
$speakers-breakpoint: 960px;

#{$namespace} {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  z-index: 0;
  @media(min-width: $speakers-breakpoint) {
    display: flex;
  }
}

#{$namespace}__blend-image {
  background-blend-mode: luminosity;
}

#{$namespace}__unit-container {
  flex: 1;
  position: relative;
  min-height: 100%;
  padding: 4rem 0;

  &:after,
  &:before {
    content: '';
    height: calc(100vw / 3);
    min-height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transform: skewX(3deg);
  }

  &:before {
    transform-origin: left bottom;
  }

  &:after {
    transform-origin: left top;
  }

  #{$namespace}__unit {
    padding: 0 4rem;
    position: relative;
  }

  &:nth-child(4n+1) {
    @media(min-width: $speakers-breakpoint) {
      top: -3rem;
      z-index: 1;
    }

    &:before,
    &:after,
    #{$namespace}__blend-image {
      background-color: #57C8D1;
    }

    #{$namespace}__unit {
      z-index: 2;
    }
  }

  &:nth-child(4n+2) {
    @media(min-width: $speakers-breakpoint) {
      top: -1rem;
      margin-right: -4rem;
      z-index: 3;
    }

    &:before,
    &:after,
    #{$namespace}__blend-image {
      background-color: #F7B332;
    }

    #{$namespace}__unit {
      z-index: 4;

      @media(min-width: $speakers-breakpoint) {
        margin-left: -2rem;
        padding-right: 8rem;
      }
    }
  }

  &:nth-child(4n+3) {
    background-color: #50B27E;

    @media(min-width: $speakers-breakpoint) {
      top: -2rem;
      margin-right: -4rem;
      z-index: 5;
    }

    #{$namespace}__unit {
      z-index: 3;

      @media(min-width: $speakers-breakpoint) {
        margin-left: -2rem;
        padding-right: 8rem;
      }
    }

    &:before,
    &:after {
      transform: skewX(-3deg);
    }

    &:before,
    &:after,
    #{$namespace}__blend-image {
      background-color: #50B27E;
    }
  }

  &:nth-child(4n+4) {
    background-color: #F7B332;
    z-index: 6;
    #{$namespace}__blend-image {
      background-color: #F7B332;
    }
  }
}

#{$namespace}--four-speakers {
  flex-wrap: wrap;
  @media(min-width: $speakers-breakpoint) {
    #{$namespace}__unit-container {
      width: 50%;
      flex: 1 0 50%;
    }
  }
}

#{$namespace}--more-than-four-speakers {
  flex-wrap: wrap;
  @media(min-width: $speakers-breakpoint) {
    #{$namespace}__unit-container {
      width: 30%;
      flex: 1 0 30%;
    }
  }
}
