= admin_app_link
= admin_home_link
= admin_events_link
= admin_talks_link
= admin_venues_link
= admin_goals_link
= admin_members_link
= admin_groups_link
= admin_emails_link
= admin_email_templates_link
= admin_friends_link
= admin_pages_link


// TOOD @VS: Move all menu items to registry. Or not ?
- Ez::Registry.data(:admin_primary_navigation).each do |menu_item|
  = link_to t(menu_item.label), menu_item.path, class: class_for(:settings)
