= admin_app_link
= admin_home_link
= admin_events_link
= admin_talks_link
= admin_venues_link
= admin_goals_link
= admin_members_link
= admin_groups_link
= admin_emails_link
= admin_friends_link
= admin_pages_link
