h3 Awesome afterparty with topic rooms! 🎉

h2 Pick a topic you like and be engaged!

p <b><a href="https://twitter.com/andrzejkrzywda?lang=en">Andrzej Krzywda</a></b>, DDD master from Wroclaw 🇵🇱, topic: <b>typical problems in big Rails apps - monolith, microservices, modulith, DDD, CQRS, events</b>
p <b>Dima Zhlobo</b>, datarockets CTO from Minsk 🇧🇾, topic: <b>"Remote work and healthy company culture"</b>
p <b>Volodymyr Sveredyuk</b>, <br>Entrepreneur. Ruby, Elixir, JS dev at SuperPoweredSoft. Open-source enthusiast. #pivorak Core Team member from Lviv 🇺🇦, <br>topic: <b>"CDD (Context-driven development) - software development in terms of budget, market, and team capability. Beer drinking game"</b>
p <b><a href="https://mr.si/">Miha Rekar</a>+<a href="https://www.aaroncruz.com/">Aaron Cruz</a></b>, Ljubljana+Vienna 🇸🇮+🇦🇹, topic: <b>Panel discussion. Hobbies. AMA (AUA?) / Q&A</b>
p <b>Denys Medynskyi</b>, developer@Toptal problem oriented simplificator from Lviv 🇺🇦, topic: <b>Pet Projects: how to start and finish?</b>
/ p <b>Tobias Pfeiffer</b>, RUG Berlin organizer 🇩🇪, topic: <b>"Remote work and healthy company culture"</b>
/ p <b>Piotr Szotkowski</b>, Warsaw 🇵🇱, topic: <b>"Remote work and healthy company culture"</b>
