h3 A pick—your-flavor virtual afterparty! 🎉

h2 8 rooms, 8 different topics.
h2 Choose your favorite and hang out with fellow pivorakers!

.rooms{style="max-width: 600px; margin: 0 auto;"}
  p <b>Luca Guidi</b> from Rome 🇮🇹, <br>topic: <b>"Hanami"</b>, <br>back-end architect at Toptal, back-end person with a strong background in OOP, TDD, good software design, and architecture
  hr
  p <b><a href="https://twitter.com/andrzejkrzywda?lang=en">Andrzej Krzywda</a></b> from Wroclaw 🇵🇱<br>topic: <b>"Typical problems in big Rails apps - monolith, microservices, modulith, DDD, CQRS, events"</b><br>DDD master
  hr
  p <b>Dima Zhlobo</b>, CTO at <a href="https://datarockets.com/">datarockets</a> from Minsk 🇧🇾<br>topic: <b>"Remote work and healthy company culture"</b><br> I equally love working with people and technologies
  hr
  p <b>Volodymyr Sveredyuk</b> from Lviv 🇺🇦, <br>topic: <b>"CDD (Context-driven development) - software development in terms of budget, market, and team capability. Beer drinking game"</b><br>Entrepreneur. Ruby, Elixir, JS dev at SuperPoweredSoft. Open-source enthusiast. #pivorak Core Team member
  hr
  p <b><a href="https://mr.si/">Miha Rekar</a>+<a href="https://www.aaroncruz.com/">Aaron Cruz</a></b> from Ljubljana+Vienna 🇸🇮+🇦🇹, <br>topic: <b>"Panel discussion. Hobbies. AMA (AUA?) / Q&A"</b>
    <br> Aaron used to cook food for a living but now is a code monkey who also organizes meetups, conferences, and hackathons. He sometimes speaks at conferences and has picked up skateboarding in some kind of midlife crisis. Miha is a Software Engineering Manager who loves to run, take photos, think stoic thoughts, and drink coffee. Sometimes all at the same time.
  hr
  p <b>Denys Medynskyi</b> from Lviv 🇺🇦<br>topic: <b>"Pet Projects: how to start and finish?"</b><br> developer@Toptal problem oriented simplificator
  hr
  p <b>Tobias Pfeiffer</b> from Berlin 🇩🇪<br>topic: <b>"TBA"</b><br> RUG Berlin organizer
  hr
  p <b>Piotr Szotkowski</b>, from Warsaw 🇵🇱<br> topic: <b>"TBA"</b>
