$namespace: ".pk-input";

#{$namespace}__container {
  > div {
    position: relative;
    box-sizing: border-box;

    width: 304px; // good for login forms, maybe should be changed for other forms
    border-radius: 12px;

    z-index: 1;

    @include breakpoint-max(336) {
      width: 272px;
    }

    .alert-error {
      padding-top: 8px;
    }

    .hint {
      font-size: 12px;
      text-align: left;
      padding: 4px 16px 0;
    }

    .error {
      text-align: left;
      padding: 4px 16px 0;
      color: #c52d2d;
    }
  }

  .field.error {
    #{$namespace} {
      -webkit-box-shadow: 0px 0px 0px 1px rgba(236, 0, 0, 1), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset;
      -moz-box-shadow: 0px 0px 0px 1px rgba(236, 0, 0, 1), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset;
      box-shadow: 0px 0px 0px 1px rgba(236, 0, 0, 1), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset;
    }

    .hint {
      display: none;
    }
  }
}

#{$namespace}--container-full-width {
  > div {
    width: 100%;
  }
}

#{$namespace} {
    box-sizing: border-box;
    width: 100%;
    height: 40px;

  border-radius: 12px;
    border: 0;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset;

    &:focus {
      outline: none;
      border: 0;
      -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset, 0px 0px 0px 1px rgba(0, 0, 0, .38);
      -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset, 0px 0px 0px 1px rgba(0, 0, 0, .38);
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .5) inset, 0px 0px 0px 1px rgba(0, 0, 0, .38);
    }

    background-color: $main-color;
    padding: 13px 15px 11px;
    color: $input-color;

    font-family: $main-font-family;
    font-size: 14px;
    letter-spacing: $letter-spacing-p;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-input-placeholder {color:rgba($placeholder-color, .54);}
    &::-moz-placeholder          {color:rgba($placeholder-color, .54);}
    &:-moz-placeholder           {color:rgba($placeholder-color, .54);}
    &:-ms-input-placeholder      {color:rgba($placeholder-color, .54);}

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .5) inset, 0 0 0 500px $main-color inset !important;
      -webkit-text-fill-color: $input-color;
    }
}

#{$namespace}__label {
  display: none;
}

#{$namespace}--textarea {
  min-height: 100px;
  resize: none;
}
