$namespace: ".pk-list";

#{$namespace} {
  display: inline-flex;
  align-items: center;
  font-size: #{(14 / 16)}rem;
  list-style: none;
  padding: 0;
}

%btn-styles {
  font-weight: 600;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3571428571em;
  letter-spacing: 0.14285714em;
  text-transform: lowercase;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

#{$namespace}__unit {
  > a {
    @extend %btn-styles;
    color: rgba($link-color, .54);
    position: relative;
    padding: 4px 8px 9px;
    margin: 10px 16px 5px;
    &:hover {
      color: $link-color;
      background-color: $tile-text-hover;
      z-index: 1;
    }
  }
  input[type=submit] {
    @extend %btn-styles;
    background: transparent;
    border: 2px solid rgba(#FCF7EF, .54);
    border-radius: 20px;
    color: rgba($link-color, .87);
    line-height: 1.6;
    font-family: $main-font-family;
    padding: 10px 38px;
    cursor: pointer;
    &:hover, &:active, &:focus {
      outline: none;
      box-shadow: none;
      color: $body-text-hover;
      background-color: $link-color;
    }
  }
}