.pk-talk {
  font-family: 'Arvo';
  list-style: none;
  white-space: normal;
}

.pk-talk__image {
  height: 280px;
  overflow: hidden;
  line-height: 280px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  
  img {
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
  }
}

.pk-talk__name {
  @include fluid-type(font-size, 320px, 1024px, 16px, 18px);

  position: relative;
  margin-top: 24px;
  color: #FFF4DA;
  letter-spacing: 0.05555556em;
  line-height: 1.16667;
  border-bottom: 2px solid currentColor;
  display: inline-block;
  padding-bottom: .5rem;
  padding-right: 1.5rem;
}

.pk-talk__title {
  font-family: $headings-font-family;
  text-transform: uppercase;
  @include fluid-type(font-size, 320px, 1176px, 20px, 36px);
  line-height: (65 / 46);
  color: #FCF7EF;
  letter-spacing: 0.075em;
  margin-top: 45px;
}

.pk-talk__content {
  @include fluid-type(font-size, 320px, 1024px, 16px, 18px);
  color:#FCF7EF;
  line-height: (21 / 14);
  margin-top: 20px;
  p {
    margin-bottom: 16px;
  }
}
