.pk-talk {
  font-family: 'Arvo';
  list-style: none;
  white-space: normal;
  max-height: 844px;
  overflow: hidden;
}

.pk-talk__image {
  height: 280px;
  overflow: hidden;
  line-height: 280px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  img {
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
  }
}

.pk-talk__name {
  position: relative;
  margin-top: 24px;
  font-size: 18px;
  color: #FFF4DA;
  letter-spacing: 0.05555556em;
  line-height: 1.16667;
  padding-bottom: 4px;

  &:after {
    content: '';
    width: 138px;
    height: 2px;
    background-color: #FFF4DA;
    position: absolute;
    top: 100%;
    left: 0px;
  }
}

.pk-talk__title {
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-size: 46px;
  line-height: (65 / 46);
  color: #FCF7EF;
  letter-spacing: 0.075em;
  margin-top: 45px;
}

.pk-talk__content {
  font-size: 14px;
  color:#FCF7EF;
  line-height: (21 / 14);
  margin-top: 20px;
  p {
    margin-bottom: 16px;
  }
}
