$namespace: '.pk-video-container';

#{$namespace} {
  position: fixed;
  background-color: rgba(12, 12, 12, .8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 9999;
  text-align: center;
  padding: 2rem;
  padding-top: 55px;
  overflow-y: auto;

  iframe {
    width: calc(100vw - 4rem);
    height: calc(100vh - 8rem);
    min-height: 600px;
    border: none;

    @include breakpoint-max(650) {
      width: 100%;
      left: 0;
    }
  }
}

#{$namespace}__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  color: #fff4da;
  font-family: Helvetica;
  cursor: pointer;
}
