//-----------------------------------------------
//      HELPERS
//-----------------------------------------------
.translation_missing {
  color: white !important;
  background: red !important;
}

// How simply align elemetns in semantic-ui ?
.right-align {
  text-align: right;
}
