//-----------------------------------------------
//      BODY
//-----------------------------------------------
header {
  margin-top: 15px;
}

main {
  margin-bottom: 30px;
}

//-----------------------------------------------
//      TYPOGRAPHY
//-----------------------------------------------

h2 {
  margin: 15px 0;
}

a {
  .icon {
    display: inline-block;
    width: 40px;
    height: 40px;

    svg {
      width: 40px;
      height: 40px;
    }
    &:hover {
      border: none;
    }
  }
}


//-----------------------------------------------
//      TABLE
//-----------------------------------------------

table {
  margin-top: 15px;

  .actions {
    width: 15%;
    text-align: right;

    a {
      margin-right: 5px;
    }
  }
}


//-----------------------------------------------
//      FORM
//-----------------------------------------------
form {
  .form-actions {
    margin-top: 15px;
  }
}

//-----------------------------------------------
//      HELPERS
//-----------------------------------------------
.translation_missing {
  color: white !important;
  background: red !important;
}
