default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV['DATABASE_URL'] %>

development:
  <<: *default
  database: pivorak_development

test:
  <<: *default
  database: pivorak_test

production:
  <<: *default
  database: pivorak_production
  username: pivorak
  password: <%= ENV['pivorak_DATABASE_PASSWORD'] %>
