$tablet-breakpoint: "800";
$mobile-breakpoint: "420";

.pk-agenda-container {
  font-size: 2vw;
  padding: 20px 32px;

  @include breakpoint-max($mobile-breakpoint) {
    font-size: 5vw;
    padding: 20px 16px;
  }
}
