.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pk-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.pk-uppercase {
  text-transform: uppercase;
}

// .pk-index-fix__container {
//   position: relative;
// }

// .pk-index-fix {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
// }