$namespace: ".pk-auth";

#{$namespace} {
  position: relative;
  max-width: 468px;
  min-height: 100vh;
  margin: auto;
  padding: 54px 0;
  background-color: $tile-bg-color;
  text-align: center;

  .pk-btn--tag:hover, .pk-btn--tag:active,
  .pk-btn--link:hover, .pk-btn--link:active {
    color: $tile-bg-color;
  }

  .pk-btn--link {
    @include breakpoint-max(420) { max-width: 304px;}
    @include breakpoint-max(336) { max-width: 272px;}
  }
}

#{$namespace}__logo {
  width: 66px;
  height: auto;
  opacity: .87;
}

#{$namespace}__divider {
  position: relative;
  margin: 40px 0 48px;

  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 5px;
    background-color: rgba(#fff, .38);
    height: 1px;
    width: calc((100% - 130px ) / 2);
  }

  &:before {
    left: 0px;
  }

  &:after {
    right: 0px;
  }

}
