$text-color: #FCF7EF;
// $bg-color: rgba(#D35130, .8);

$link-color: #FFF4DA;

$placeholder-color: #D35130;
$input-color: #BA472A;
$letter-spacing-p: 0.10714em;

$main-font-family: 'Arvo', serif;
$main-font-size: 0.875em;
$main-font-weight: 400;
$main-line-height: 1.6;
$main-color: $text-color;

$body-bg-color: #D35130;
$body-text-hover: $body-bg-color;

$tile-bg-color: #57C8D1;
$tile-text-hover: $tile-bg-color;

$headings-margin-bottom: 10px;
$headings-font-family: 'Fjalla One', sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color: $text-color;

$font-size-h1: 42px;
$letter-spacing-h1: 0.14285714em;
$line-height-h1: 1.23809524;

$font-size-h2: 26px;
$letter-spacing-h2: 0.15384615em;
$line-height-h2: 1.23076923;

$font-size-h3: 42px;
$letter-spacing-h3: 0.14285714em;
$line-height-h3: 1.23809524;

$font-size-h4: 42px;
$letter-spacing-h4: 0.1em;
$line-height-h4: 1.2;
$font-weight-h4: 600;
$font-family-h4: $main-font-family;

$quotes-font-family: "ff";
$quotes-font-size: 24px;
$quotes-color: $text-color;
$quotes-line-height: 1.54166667;

$floating-menu-height: 98px;
