form accept-charset="utf-8" action=donation_form_url method="POST" target="_blank"
  input name="data" type="hidden" value=donation_form_data /
  input name="signature" type="hidden" value=donation_form_signature /
  input name="btn_text" src="//static.liqpay.com/buttons/d1en.radius.png" type="submit" value="donate"/
