h2 = 'Friends and supporters of pivorak community:'
- meetups_supporters.each do |meetups_supporter|
  = meetups_supporter.name

h2 = 'Partners of Ruby Summer School:'
= inlove_partner.name

- course_supporters.each do |course_supporter|
  = course_supporter.name


