---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=4QdOwMVMs7k&key=AIzaSyANAsFd4u6mdwX5iiv_dmES_kyoy8rtdtc&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/u3mD-pmq8b3XxTU6D7z0mOMGxgY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/u3mD-pmq8b3XxTU6D7z0mOMGxgY\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/yCbCQ7wUNHmyGQUYZou_dFMO4fg\"",
           "id": "4QdOwMVMs7k",
           "contentDetails": {
            "duration": "PT47M44S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           }
          }
         ]
        }
  recorded_at: Fri, 19 May 2017 19:32:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=4QdOwMVMs7k&key=AIzaSyANAsFd4u6mdwX5iiv_dmES_kyoy8rtdtc&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/UHdr4IhT-tI4FDZwamqBWdlYVTY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/UHdr4IhT-tI4FDZwamqBWdlYVTY\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/GgqnaT_mJeenvWNA7CBJvZeGysw\"",
           "id": "4QdOwMVMs7k",
           "statistics": {
            "viewCount": "456",
            "likeCount": "20",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "1"
           }
          }
         ]
        }
  recorded_at: Fri, 19 May 2017 19:32:05 GMT
recorded_with: VCR 3.0.3
